In [91]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn import datasets, linear_model, metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV
from sklearn import metrics

In [42]:
df = pd.read_csv("flare.data2",
                      delimiter = ' ')
  
# store dataframe into csv file
df.to_csv('flare.csv',
               index= False)

In [43]:
df.head()

   H  A  X  1  3  1.1  1.2  1.3  1.4  1.5  0  0.1  0.2
0  D  R  O  1  3    1    1    2    1    1  0    0    0
1  C  S  O  1  3    1    1    2    1    1  0    0    0
2  H  R  X  1  2    1    1    1    1    1  0    0    0
3  H  S  X  1  1    1    1    2    1    1  0    0    0
4  C  A  O  1  2    1    1    2    1    1  0    0    0

In [44]:
df.columns =['Code for class', 'Code for largest spot size', 'Code for spot distribution', 'Activity','Evolution','Previous 24 hour flare activity code','Historically-complex',
             'historically complex','Area','Area of the largest spot','common flares','moderate flares','severe flares']

In [45]:
df.head()

,Code for class,Code for largest spot size,Code for spot distribution,Activity,Evolution,Previous 24 hour flare activity code,Historically-complex,historically complex,Area,Area of the largest spot,common flares,moderate flares,severe flares
0,D,R,O,1,3,1,1,2,1,1,0,0,0
1,C,S,O,1,3,1,1,2,1,1,0,0,0
2,H,R,X,1,2,1,1,1,1,1,0,0,0
3,H,S,X,1,1,1,1,2,1,1,0,0,0
4,C,A,O,1,2,1,1,2,1,1,0,0,0

In [46]:
df=df.drop(['moderate flares','severe flares'], axis = 1)

In [47]:
df.head()

,Code for class,Code for largest spot size,Code for spot distribution,Activity,Evolution,Previous 24 hour flare activity code,Historically-complex,historically complex,Area,Area of the largest spot,common flares
0,D,R,O,1,3,1,1,2,1,1,0
1,C,S,O,1,3,1,1,2,1,1,0
2,H,R,X,1,2,1,1,1,1,1,0
3,H,S,X,1,1,1,1,2,1,1,0
4,C,A,O,1,2,1,1,2,1,1,0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065 entries, 0 to 1064
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Code for class                        1065 non-null   object
 1   Code for largest spot size            1065 non-null   object
 2   Code for spot distribution            1065 non-null   object
 3   Activity                              1065 non-null   int64
 4   Evolution                             1065 non-null   int64
 5   Previous 24 hour flare activity code  1065 non-null   int64
 6   Historically-complex                  1065 non-null   int64
 7   historically complex                  1065 non-null   int64
 8   Area                                  1065 non-null   int64
 9   Area of the largest spot              1065 non-null   int64
 10  common flares                         1065 non-null   int64
dtypes: int64(8), object(3)
memory usage: 91.6+ KB

In [49]:
df.isnull().sum()

Code for class                          0
Code for largest spot size              0
Code for spot distribution              0
Activity                                0
Evolution                               0
Previous 24 hour flare activity code    0
Historically-complex                    0
historically complex                    0
Area                                    0
Area of the largest spot                0
common flares                           0
dtype: int64

In [50]:
df.describe()

,Activity,Evolution,Previous 24 hour flare activity code,Historically-complex,historically complex,Area,Area of the largest spot,common flares
count,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.0,1065.000000
mean,1.153991,2.400939,1.059155,1.404695,1.876056,1.025352,1.0,0.300469
std,0.361109,0.620604,0.320469,0.491063,0.329672,0.157266,0.0,0.836126
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.000000
25%,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.0,0.000000
50%,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.0,0.000000
75%,1.000000,3.000000,1.000000,2.000000,2.000000,1.000000,1.0,0.000000
max,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,1.0,8.000000

In [51]:
df['Code for class'].unique()

array(['D', 'C', 'H', 'B', 'E', 'F'], dtype=object)

In [52]:
df['Code for largest spot size'].unique()

array(['R', 'S', 'A', 'X', 'K', 'H'], dtype=object)

In [54]:
df['Code for spot distribution'].unique()

array(['O', 'X', 'I', 'C'], dtype=object)

In [36]:
df['Evolution'].unique()

array([3, 2, 1])

In [57]:
#categorical data
categorical_cols = ['Code for class', 'Code for largest spot size', 'Code for spot distribution'] 

#import pandas as pd
df = pd.get_dummies(df, columns = categorical_cols)

In [58]:
df.head()

,Activity,Evolution,Previous 24 hour flare activity code,Historically-complex,historically complex,Area,Area of the largest spot,common flares,Code for class_B,Code for class_C,...,Code for largest spot size_A,Code for largest spot size_H,Code for largest spot size_K,Code for largest spot size_R,Code for largest spot size_S,Code for largest spot size_X,Code for spot distribution_C,Code for spot distribution_I,Code for spot distribution_O,Code for spot distribution_X
0,1,3,1,1,2,1,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,1,3,1,1,2,1,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
2,1,2,1,1,1,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,1,1,1,1,2,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,1,2,1,1,2,1,1,0,0,1,...,1,0,0,0,0,0,0,0,1,0

In [60]:
X=df.drop(['common flares'], axis = 1)
y=df['common flares']

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=1)

In [80]:
# create linear regression object
reg = linear_model.LinearRegression()
  
# train the model using the training sets
reg.fit(X_train, y_train)

LinearRegression()

In [81]:
# regression coefficients
print('Coefficients: ', reg.coef_)
  
# variance score: 1 means perfect prediction
print('Variance score: {}'.format(reg.score(X_test, y_test)))
y_predicted = reg.predict(X_test)

Coefficients:  [ 2.20276730e-01  3.56943110e-02 -2.31303789e-02 -8.12314715e-02
  4.90432655e-02 -6.66467373e-01 -2.23091988e+12  1.32135172e+13
  1.32135172e+13  1.32135172e+13  1.32135172e+13  1.32135172e+13
  1.26853633e+13  4.02796750e+12  4.02796750e+12  4.02796750e+12
  4.02796750e+12  4.02796750e+12  4.02796750e+12  2.50643960e+13
  2.50643960e+13  2.50643960e+13  2.55925500e+13]
Variance score: 0.20205406725541897

In [85]:
rmse = mean_squared_error(y_test, y_predicted)
r2 = r2_score(y_test, y_predicted)
mean_absolute_error(y_test, y_predicted)

0.4376100352112676

In [71]:
rmse

0.5581699425066021

In [72]:
r2

0.20205406725541897

In [92]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [98]:
forest = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = forest, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestRegressor(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000]},
                   random_state=42, verbose=2)

In [100]:
rf_random = RandomizedSearchCV(estimator = forest, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_test, y_test)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestRegressor(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000]},
                   random_state=42, verbose=2)

In [101]:
rf_random.best_params_

{'bootstrap': True,
 'max_depth': 10,
 'max_features': 'sqrt',
 'min_samples_leaf': 4,
 'min_samples_split': 2,
 'n_estimators': 800}

In [102]:
forest = RandomForestRegressor(bootstrap = True, max_depth = 10, max_features = 'sqrt', min_samples_leaf = 4, min_samples_split = 2, n_estimators = 800)

In [103]:
forest = forest.fit(X_train, y_train)

In [104]:
y_pred = forest.predict(X_test)

In [105]:
explained_variance=metrics.explained_variance_score(y_test, y_pred)
mean_absolute_error=metrics.mean_absolute_error(y_test, y_pred) 
mse=metrics.mean_squared_error(y_test, y_pred) 
#mean_squared_log_error=metrics.mean_squared_log_error(ytest, y_pred)
median_absolute_error=metrics.median_absolute_error(y_test, y_pred)
r2=metrics.r2_score(y_test, y_pred)

In [106]:
print('explained_variance: ', round(explained_variance,4))    
#print('mean_squared_log_error: ', round(mean_squared_log_error,4))
print('r2: ', round(r2,4))
print('MAE: ', round(mean_absolute_error,4))
print('MSE: ', round(mse,4))
print('RMSE: ', round(np.sqrt(mse),4))

explained_variance:  0.205
r2:  0.205
MAE:  0.4386
MSE:  0.5561
RMSE:  0.7457